.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  float: left;
  margin-left: 6.563706563706563%;
  *margin-left: 6.544401544401544%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span12 {
  width: 99.99999999999999%;
  *width: 99.98069498069496%;
}
.row-fluid .span11 {
  width: 91.11969111969111%;
  *width: 91.10038610038609%;
}
.row-fluid .span10 {
  width: 82.23938223938222%;
  *width: 82.2200772200772%;
}
.row-fluid .span9 {
  width: 73.35907335907335%;
  *width: 73.33976833976833%;
}
.row-fluid .span8 {
  width: 64.47876447876448%;
  *width: 64.45945945945945%;
}
.row-fluid .span7 {
  width: 55.59845559845559%;
  *width: 55.579150579150564%;
}
.row-fluid .span6 {
  width: 46.71814671814671%;
  *width: 46.69884169884169%;
}
.row-fluid .span5 {
  width: 37.83783783783784%;
  *width: 37.818532818532816%;
}
.row-fluid .span4 {
  width: 28.957528957528954%;
  *width: 28.938223938223935%;
}
.row-fluid .span3 {
  width: 20.077220077220076%;
  *width: 20.057915057915057%;
}
.row-fluid .span2 {
  width: 11.196911196911195%;
  *width: 11.177606177606176%;
}
.row-fluid .span1 {
  width: 2.3166023166023164%;
  *width: 2.297297297297297%;
}
.row-fluid .offset12 {
  margin-left: 113.1274131274131%;
  *margin-left: 113.08880308880306%;
}
.row-fluid .offset12:first-child {
  margin-left: 106.56370656370655%;
  *margin-left: 106.5250965250965%;
}
.row-fluid .offset11 {
  margin-left: 104.24710424710423%;
  *margin-left: 104.20849420849419%;
}
.row-fluid .offset11:first-child {
  margin-left: 97.68339768339767%;
  *margin-left: 97.64478764478763%;
}
.row-fluid .offset10 {
  margin-left: 95.36679536679534%;
  *margin-left: 95.3281853281853%;
}
.row-fluid .offset10:first-child {
  margin-left: 88.80308880308878%;
  *margin-left: 88.76447876447874%;
}
.row-fluid .offset9 {
  margin-left: 86.48648648648647%;
  *margin-left: 86.44787644787642%;
}
.row-fluid .offset9:first-child {
  margin-left: 79.92277992277991%;
  *margin-left: 79.88416988416986%;
}
.row-fluid .offset8 {
  margin-left: 77.6061776061776%;
  *margin-left: 77.56756756756755%;
}
.row-fluid .offset8:first-child {
  margin-left: 71.04247104247104%;
  *margin-left: 71.00386100386099%;
}
.row-fluid .offset7 {
  margin-left: 68.72586872586871%;
  *margin-left: 68.68725868725866%;
}
.row-fluid .offset7:first-child {
  margin-left: 62.16216216216215%;
  *margin-left: 62.1235521235521%;
}
.row-fluid .offset6 {
  margin-left: 59.84555984555984%;
  *margin-left: 59.806949806949795%;
}
.row-fluid .offset6:first-child {
  margin-left: 53.28185328185327%;
  *margin-left: 53.24324324324323%;
}
.row-fluid .offset5 {
  margin-left: 50.965250965250966%;
  *margin-left: 50.92664092664092%;
}
.row-fluid .offset5:first-child {
  margin-left: 44.4015444015444%;
  *margin-left: 44.362934362934354%;
}
.row-fluid .offset4 {
  margin-left: 42.08494208494208%;
  *margin-left: 42.04633204633204%;
}
.row-fluid .offset4:first-child {
  margin-left: 35.52123552123552%;
  *margin-left: 35.48262548262547%;
}
.row-fluid .offset3 {
  margin-left: 33.204633204633204%;
  *margin-left: 33.16602316602316%;
}
.row-fluid .offset3:first-child {
  margin-left: 26.64092664092664%;
  *margin-left: 26.602316602316602%;
}
.row-fluid .offset2 {
  margin-left: 24.324324324324323%;
  *margin-left: 24.28571428571428%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.76061776061776%;
  *margin-left: 17.72200772200772%;
}
.row-fluid .offset1 {
  margin-left: 15.444015444015442%;
  *margin-left: 15.405405405405403%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.88030888030888%;
  *margin-left: 8.841698841698841%;
}
