body {
background: url(http://www.fond-ecran-image.com/galerie-membre/creation-graphique/onde-de-choc.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}